.filterByDate,
.filterByTitle {
    display: none;
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

label {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

li {
    background-color: #901C1C;
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid white;
    list-style: none;
    color: white;
}

/*



.dropdown-trigger {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 11px;
    width: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
   
    background-color: #901C1C;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}


.dropdown-options li {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid white;
}



.dropdown[aria-expanded="true"] .dropdown-options {
    display: block;
}

li {
    display: flex;
    flex-direction: row;
}

.actif {
    display: none;
}

*/