#contact_modal {
  display: none; }

.photographer-details-section {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #FAFAFA;
  color: #D3573C;
  font-size: 36px;
  padding: 55px; }
  .photographer-details-section .photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    width: 100%; }
    .photographer-details-section .photograph-header img {
      height: 200px;
      width: 200px;
      object-fit: cover;
      border-radius: 100%; }
  .photographer-details-section article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem; }
    .photographer-details-section article h2 {
      color: #D3573C;
      font-weight: 400;
      font-size: 64px; }
    .photographer-details-section article p {
      font-size: 24px;
      color: #901C1C; }
    .photographer-details-section article p:nth-child(3) {
      color: #525252;
      font-size: 18px; }

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer; }

.contact_button:hover {
  filter: brightness(1.2); }

.medias_section {
  display: grid;
  justify-items: stretch;
  grid-template-columns: auto auto auto;
  gap: 70px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 100px; }
  .medias_section article {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 350px; }
    .medias_section article img,
    .medias_section article video {
      height: 300px;
      width: 350px;
      object-fit: cover;
      border-radius: 5px; }
    .medias_section article .gap .cta-icon {
      width: 17.5px;
      height: auto; }
    .medias_section article .row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      justify-content: space-between;
      color: var(--red); }
      .medias_section article .row h2 {
        font-size: 22px;
        font-weight: 400; }
      .medias_section article .row h3 {
        font-size: 22px;
        font-weight: 500;
        padding: 0; }
      .medias_section article .row .gap {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem; }

#cta {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 25px;
  background: #DB8876;
  border-radius: 5px 5px 0 0;
  margin-right: 6rem; }
  #cta .cta-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    font-size: 24px;
    font-weight: 500; }
    #cta .cta-container .row {
      display: flex;
      flex-direction: row;
      gap: .5rem;
      color: #000000; }
      #cta .cta-container .row img {
        filter: brightness(0); }

.medias_section > article > div > div > .liked {
  color: green;
  font-weight: 800; }
